/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6227a5;
  --ifm-color-primary-dark: #582395;
  --ifm-color-primary-darker: #53218c;
  --ifm-color-primary-darkest: #451b74;
  --ifm-color-primary-light: #6c2bb6;
  --ifm-color-primary-lighter: #712dbe;
  --ifm-color-primary-lightest: #8039d0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #a85ffd;
  --ifm-color-primary-dark: #953dfd;
  --ifm-color-primary-darker: #8c2bfc;
  --ifm-color-primary-darkest: #8e2ffc;
  --ifm-color-primary-light: #bb81fd;
  --ifm-color-primary-lighter: #c493fe;
  --ifm-color-primary-lightest: #e0c6fe;
}
/* Dark mode specific styles */
[data-theme="dark"] code {
  border: 1px solid rgba(255, 255, 255, 0.25); /* Subtle white border in dark mode */
  border-radius: 0.3em;
}
